$font-title: 'Rubik Mono One', sans-serif;
$font-text: 'Rubik', sans-serif;
$fontColor:#557A55;
$placeholder-color-text:#43784F;
$text-color-button-green: #8FD89F;
$text-color-button-red: #F37070;

$background-color-ruleta:#8FA593;
$background-color-footer:#F2F3CA;

$background-color-botton-green:#557A55;
$background-color-botton-red: #D20000;
$background-color-ventana: #8FD89F;