$font-title: "Rubik Mono One", sans-serif;
$font-text: "Rubik", sans-serif;
$fontColor: #557a55;
$placeholder-color-text: #43784f;
$text-color-button-green: #8fd89f;
$text-color-button-red: #f37070;

$background-color-ruleta: #8fa593;
$background-color-footer: #f2f3ca;

$background-color-botton-green: #557a55;
$background-color-botton-red: #d20000;
$background-color-ventana: #8fd89f;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
