@import '_variables.scss';

header{

    background-color: white;

        .logo{
        display: flex;
        justify-content: space-between;

        img {
            width: 40%;
        }

        #menu {
            width: 15%;
                
            }

        }

    }
    
        h5{
            color: $fontColor;
            font-family: $font-title;
            justify-content: left;
            padding:0%;
            margin: 0%;
            font-size: 50%;
           

        }

        section{
        display: flex;
        justify-content: space-between;
        font-family: $font-text;
        color: $fontColor;
        

        }



/* @media (max-width: 374px) {
    img { width: 100%; }

  } */