@import '_variables.scss';

header{

    background-color: white;

        .logo{
        display: flex;
        justify-content: space-between;

            img {
             width: 100px;
             height: 25px;
             }

             h6{
             color: $fontColor;
             font-family: $font-title;
             font-size: 30%;
             }

        }

        .menubar{
            height: 30px;
            background-color: $background-color-ruleta;
            display: flex;
            justify-content: center;
            margin-top: 10%;

            .buttons{
                margin-top: 5px;
                margin-bottom: 5px;
                #but1{
                    font-size: xx-small;
                    background-color: $background-color-botton-green;
                    color: $text-color-button-green;
                    font-family: $font-title;
                     
                }

                #but2{
                    font-size: xx-small;
                    background-color: $background-color-botton-green;
                    color: $text-color-button-green;
                    font-family: $font-title;

                }
            }
               
        }
    }
    
    

        section{
        display: flex;
        justify-content: space-between;
        font-family: $font-text;
        color: $fontColor;
        

        }



/* @media (max-width: 374px) {
    img { width: 100%; }

  } */