@import '_variables.scss';
header{
    width: 100px;
    height: 20px;
    background-color: white;
#logo{
    img{
        width: 10%;
    }
    #p-logo{
        font-family: 'Rubik Mono One', sans-serif;
        color: $fontColor;
    }
}

}

