* {
    #input-box {
      background-color: $background-color-ruleta;
      padding-bottom: 20px;
      #list-title {
        h2 {
          font-family: $font-title;
          color: $fontColor;
        }
      }
      form {
        // input
        #add-country-input {
          appearance: none;
          outline: none;
          border: 3px solid black;
          width: 20%;
          height: 45px;
          font-size: 16px;
          font-family: $font-text;
          color: $placeholder-color-text;
        }
        ::placeholder {
          color: $placeholder-color-text;
        }
        // button
        #new-country-submit {
          border: 3px solid black;
          background-color: $background-color-botton-green;
          color: $text-color-button-green;
          height: 50px;
        }
      }
      .countries-list {
        h2 {
          font-family: $font-title;
          color: $fontColor;
        }
        #countries {
          .country {
            display: flex;
            border: 3px solid black;
            background-color: white;
            width: 25%;
            height: 45px;
            justify-content: space-around;
            align-items: center;
            .country-content {
              .new_country_input {
                appearance: none;
                outline: none;
                border: none;
                background: none;
                width: 190px;
                font-size: 16px;
                font-family: $font-text;
                color: $placeholder-color-text;
              }
              ::placeholder {
                color: $placeholder-color-text;
              }
            }
            .button-actions {
              display: flex;
              align-items: center;
              .edit-button {
                border: none;
                font-family: $font-title;
                color: $text-color-button-green;
                background-color: $background-color-botton-green;
                height: 30px;
                margin-right: 8px;
              }
              .clear-button {
                border: none;
                font-family: $font-title;
                color: $text-color-button-red;
                background-color: $background-color-botton-red;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
