@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

* #input-box {
  background-color: #8FA593;
  padding-bottom: 20px;
}
* #input-box #list-title h2 {
  font-family: "Rubik Mono One", sans-serif;
  color: #557A55;
}
* #input-box form #add-country-input {
  appearance: none;
  outline: none;
  border: 3px solid black;
  width: 20%;
  height: 45px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #43784F;
}
* #input-box form ::placeholder {
  color: #43784F;
}
* #input-box form #new-country-submit {
  border: 3px solid black;
  background-color: #557A55;
  color: #8FD89F;
  height: 50px;
}
* #input-box .countries-list h2 {
  font-family: "Rubik Mono One", sans-serif;
  color: #557A55;
}
* #input-box .countries-list #countries .country {
  display: flex;
  border: 3px solid black;
  background-color: white;
  width: 25%;
  height: 45px;
  justify-content: space-around;
  align-items: center;
}
* #input-box .countries-list #countries .country .country-content .new_country_input {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  width: 190px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #43784F;
}
* #input-box .countries-list #countries .country .country-content ::placeholder {
  color: #43784F;
}
* #input-box .countries-list #countries .country .button-actions {
  display: flex;
  align-items: center;
}
* #input-box .countries-list #countries .country .button-actions .edit-button {
  border: none;
  font-family: "Rubik Mono One", sans-serif;
  color: #8FD89F;
  background-color: #557A55;
  height: 30px;
  margin-right: 8px;
}
* #input-box .countries-list #countries .country .button-actions .clear-button {
  border: none;
  font-family: "Rubik Mono One", sans-serif;
  color: #F37070;
  background-color: #D20000;
  height: 30px;
}
header {
  background-color: white;
}
header .logo {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
header .logo img {
  width: 100px;
  height: 25px;
}
header .logo h4 {
  color: #557A55;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 30%;
}
header .menubar {
  height: 30px;
  background-color: #8FA593;
  display: flex;
  justify-content: center;
}
header .menubar .buttons {
  margin-top: 5px;
  margin-bottom: 5px;
}
header .menubar .buttons #but1 {
  font-size: xx-small;
  background-color: #557A55;
  color: #8FD89F;
  font-family: "Rubik Mono One", sans-serif;
}
header .menubar .buttons #but2 {
  font-size: xx-small;
  background-color: #557A55;
  color: #8FD89F;
  font-family: "Rubik Mono One", sans-serif;
}

@media (min-width: 320px) and (max-width: 425px) {
  body header .logo {
    margin-top: 5%;
  }
  body header .logo img {
    width: 230px;
    height: 75px;
  }
  body header .logo h4 {
    font-size: 100%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  body header .logo {
    margin-top: 5%;
  }
  body header .logo img {
    width: 115px;
    height: 35px;
  }
  body header .logo h4 {
    font-size: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body header .logo {
    margin-top: 5%;
  }
  body header .logo img {
    width: 200px;
    height: 50px;
  }
  body header .logo h4 {
    font-size: 100%;
  }
  body header .menubar {
    height: 40px;
    display: flex;
    justify-content: center;
  }
  body header .menubar .buttons {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  body header .menubar .buttons #but1 {
    font-size: medium;
  }
  body header .menubar .buttons #but2 {
    font-size: medium;
  }
}
@media (min-width: 1024px) and (max-width: 2560px) {
  body header .logo {
    margin-top: 5%;
  }
  body header .logo img {
    width: 250px;
    height: 75px;
  }
  body header .logo h4 {
    font-size: 200%;
  }
  body header .menubar {
    height: 40px;
    display: flex;
    justify-content: center;
  }
  body header .menubar .buttons {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  body header .menubar .buttons #but1 {
    font-size: large;
  }
  body header .menubar .buttons #but2 {
    font-size: large;
  }
}
main video {
  width: 100%;
}

footer {
  font-family: "Rubik", sans-serif;
  background-color: #F2F3CA;
  text-align: center;
  height: 50px;
  font-weight: bold;
  padding-top: 30px;
  font-size: 100%;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
